/*Google Fonts: */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Sansita+Swashed:wght@300..900&display=swap");

/*
  font-family: "Sansita Swashed", system-ui;
  font-family: "Rubik", sans-serif;
*/

body,
header,
form,
main,
section,
div,
input,
textarea,
select,
footer {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 7rem 2rem 0 2rem;
}

header {
  background-color: white;
  border-bottom: 2px solid orange;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  text-align: center;
}

.logo {
  font-family: "Sansita Swashed", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.hero {
  align-items: center;
  display: flex;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  color: darkgrey;
  font-size: 1.25rem;
}

.hero section,
.hero form {
  padding: 2rem;
  width: 50%;
}

.hero form {
  background-color: lightgrey;
}

label,
input,
select,
textarea {
  display: block;
}

input,
select,
textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}

input[type="submit"] {
  background-color: forestgreen;
  border: none;
  cursor: pointer;
  color: white;
  padding: 0.75rem;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

input[type="submit"]:hover {
  background-color: orange;
}

main {
  display: flex;
  margin: 5rem 0;
}

main section {
  padding: 1rem;
  transition: all 1s linear;
  width: 25%;
  color: white;
}

main section:hover {
  transform: translateY(-1rem);
}

main section h2 {
  text-transform: uppercase;
}

.marketing {
  background-color: #fd6b5c;
}

.sites {
  background-color: #a04c9a;
}

.protection {
  background-color: #fdb52b;
}

.capital {
  background-color: #4da5d3;
}

.footer {
  border-top: 2px solid darkgrey;
  padding: 1rem 0 2rem;
}

footer nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

footer nav li {
  margin: 0 1rem;
  padding: 0 1rem;
}

footer nav a {
  text-decoration: none;
  color: blue;
}
